body {
    /* Estructura del contenidor de 3 columnes */
    display: flex;
}

.task-column {
    /* Estil de cada columna  */
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

.task-card {
    /* Estil del div de cada tasca */
    display: flex;
    flex-direction: column;
    margin: 6px;
    background-color: aliceblue;
    padding: 6px;
}

.task-card button {
    
}

.new-task-btn {
    
}
