.hamburger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.task-column {
    float: left;
    width: 33.33%;
    min-height: 100vh;
    position: sticky; /* Cambia sticky aquí a relative */
    top: 0;
    background: green;
    border-radius: 10px;
}

.task-column:hover {
    border-radius: 16px;
    transition: 0.4;
    background: rgba(0, 128, 0, 0.755);
}

.task-column h3 {
    position: sticky; /* Esto hará que el título se quede fijo al hacer scroll */
    top: 0;           /* Define que el título se pegue al borde superior de la columna */
    background: green; /* Mantiene el fondo verde detrás del título */
    margin: 0;         /* Elimina cualquier margen adicional que empuje el contenido */
    z-index: 1;        /* Asegura que el título esté encima de otros elementos si es necesario */
    padding: 10px;
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 4px;
}

.column-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-title button{
    margin: .5rem;
    width: 90%;
}

.col-container {
    background: rgb(13, 0, 255);
    margin-left: 20px;
    margin-right: 20px;
}

/* Clear floats after the columns */
.col-container:after {
    content: "";
    display: table;
    clear: both;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: calc(100% - 40px); /* Ajuste del ancho para el margen */
    border: none;
    outline: none;
    margin: 10px 20px; /* Ajuste del margen */
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
}

.accordion:hover {
    border-radius: 10px;
    transition: 0.1s;
    border: inset 0.5px black;
    background-color: #ccc;
    margin-top: 9px;
}

.task-plus {
    color: #444;
    cursor: pointer;
    padding: 8px;
    width: calc(100% - 40px); /* Ajuste del ancho para el margen */
    border-radius: 12px;
    border: none;
    outline: none;
    margin: 14px 20px; /* Ajuste del margen */
    border: inset 1px black;
}

.task-plus:hover {
    border: inset 3px black;
    margin-top: 13px;
    transition: 0.1s;
}

h3 {
    text-align: center;
    color: white;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    transition: 0.4s;
    display: flex; /* Añadido para centrar contenido */
    flex-direction: column; /* Para apilar botones */
   /* align-items: center; /* Centrando elementos */
}

/* Estilo del div de cada tasca */
.taskbox {
    background-color: rgba(208, 255, 0, 0.5); /* Esto deberia ir a una ID unica para cada caja de tasca, para la funcionalidad de asignar colores a las tascas*/
    border-radius: 6px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
}


.btn-container{
    display: table;
    align-items: center;
    width: 100%;
}

.btn {
    display: table-row;
    width: calc((100% / 6) - 2px);
    margin: 5px 1px; /* Margen entre botones */
    text-align: center;
    background-color: whitesmoke;
    opacity: 0.8;
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    opacity: 1;
    border-radius: 7px;
    transition: 0.4s;
}

p{
    text-align: left;
    font-family: sans-serif;
    font-size: 12px;
}