.hamburger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.task-column {
    float: left;
    width: 33.33%;
    min-height: 100vh;
    position: sticky; /* Cambia sticky aquí a relative */
    top: 0;
    background: green;
    
}

.task-column h3 {
    position: sticky; /* Esto hará que el título se quede fijo al hacer scroll */
    top: 0;           /* Define que el título se pegue al borde superior de la columna */
    background: green; /* Mantiene el fondo verde detrás del título */
    margin: 0;         /* Elimina cualquier margen adicional que empuje el contenido */
    z-index: 1;        /* Asegura que el título esté encima de otros elementos si es necesario */
    padding: 10px;
}



/* Estilo del div de cada tasca */
.task-card {
    /* Puedes agregar estilos aquí según lo necesites */
}

.col-container {
    background: red;
    margin-left: 20px;
    margin-right: 20px;
}

/* Clear floats after the columns */
.col-container:after {
    content: "";
    display: table;
    clear: both;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: calc(100% - 40px); /* Ajuste del ancho para el margen */
    border: none;
    outline: none;
    margin: 10px 20px; /* Ajuste del margen */
    transition: 0.4s;
}

h3 {
    text-align: center;
    color: white;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    display: flex; /* Añadido para centrar contenido */
    flex-direction: column; /* Para apilar botones */
   /* align-items: center; /* Centrando elementos */
}

.panel button {
    margin: 5px 0; /* Margen entre botones */
    width: 100%; /* Botones ocupan el ancho completo del panel */
    text-align: center;
}
p{
    text-align: left;
}